<mat-toolbar class="expanded-toolbar">
  <div class="expanded-toolbar">
    <button class="header-sm" mat-icon-button (click)="drawerService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="header-xs" mat-icon-button (click)="drawerService.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button class="header-gt-sm" mat-icon-button routerLink="/admin">
      <mat-icon>home</mat-icon>
    </button>
    <button class="header-gt-sm" mat-button>{{ name }}</button>
    <button class="header-sm" mat-button>{{ name }}</button>
  </div>
  <button class="header-xs" mat-button>{{ name }}</button>
  <div class="header-gt-sm">
    <button mat-button (click)="downloadDocument()">
      <mat-icon>book_2</mat-icon>
      协议文档
    </button>
    <button mat-button routerLink="/encrypt">
      <mat-icon>calculate</mat-icon>
      加密计算器
    </button>
    @if (authService.credential() === null) {
      <button mat-button routerLink="/admin/login">
        <mat-icon>power_settings_new</mat-icon>
        登录
      </button>
    } @else {
      @if (tenantService.tenant()) {
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>groups</mat-icon>
          {{ tenantService.tenant()!.name }}
        </button>
        <mat-menu #menu="matMenu">
          @for (tenant of tenantService.tenants(); track tenant.name) {
            <button mat-menu-item (click)="switchTenant(tenant)">
              <mat-icon>groups</mat-icon>
              {{ tenant.name }}
            </button>
          }
        </mat-menu>
      }
      <button mat-button routerLink="/admin/me">
        {{ authService.credential()!.username }}
      </button>
      <button mat-button routerLink="/admin/logout">
        <mat-icon>exit_to_app</mat-icon>
        注销
      </button>
    }
  </div>
  <button class="header-sm" mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button class="header-xs" mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/admin">
    <mat-icon>home</mat-icon>
    首页
  </button>
  @if (authService.credential() === null) {
    <button mat-menu-item routerLink="/admin/login">
      <mat-icon>power_settings_new</mat-icon>
      登录
    </button>
  } @else {
    @if (tenantService.tenant()) {
      <button mat-menu-item [matMenuTriggerFor]="menu">
        <mat-icon>groups</mat-icon>
        {{ tenantService.tenant()!.name }}
      </button>
      <mat-menu #menu="matMenu">
        @for (tenant of tenantService.tenants(); track tenant.name) {
          <button mat-menu-item (click)="switchTenant(tenant)">
            <mat-icon>groups</mat-icon>
            {{ tenant.name }}
          </button>
        }
      </mat-menu>
    }
    <button mat-menu-item routerLink="/admin/me">
      <mat-icon>id_card</mat-icon>
      {{ authService.credential()!.username }}
    </button>
    <button mat-menu-item routerLink="/admin/logout">
      <mat-icon>exit_to_app</mat-icon>
      注销
    </button>
  }
</mat-menu>
