<div class="container">
  @if (this.direction() === 'client') {
    <form class="form-in-header" [formGroup]="formGroupQuery">
      <div class="full-width-input flex">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>广告主</mat-label>
          <carambola-filtered-select-client formControlName="client" [multiple]="true" [options]="clients" />
          @if (formGroupQuery.value.client && formGroupQuery.value.client.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'client', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>上游媒体</mat-label>
          <carambola-filtered-select-clientmedia formControlName="clientMedia" [multiple]="true" [options]="clientMedias" />
          @if (formGroupQuery.value.clientMedia && formGroupQuery.value.clientMedia.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'clientMedia', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>广告形式</mat-label>
          <mat-select multiple panelWidth="" formControlName="format">
            @for (key of filterFormat.keys(); track key) {
              <mat-option [value]="key">{{ filterFormat.get(key) }}</mat-option>
            }
          </mat-select>
          @if (formGroupQuery.value.format.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'format', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>广告位模式</mat-label>
          <mat-select multiple panelWidth="" formControlName="mode">
            @for (key of filterMode.keys(); track key) {
              <mat-option [value]="key">{{ filterMode.get(key) }}</mat-option>
            }
          </mat-select>
          @if (formGroupQuery.value.mode.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'mode', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>上游广告位名称，ID</mat-label>
          <input placeholder="搜索" matInput formControlName="search" />
          @if (formGroupQuery.value.search.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'search', '')">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
    </form>
    <form class="form-in-header" [formGroup]="range">
      <div class="full-width-input flex">
        <button type="button" class="form-button" mat-button>时间颗粒度</button>
        <mat-button-toggle-group [value]="performanceInterval" (change)="changePerformanceInterval($event)">
          <mat-button-toggle [value]="'quarter'">15分钟</mat-button-toggle>
          <mat-button-toggle [value]="'hour'">小时</mat-button-toggle>
          <mat-button-toggle [value]="'day'">日</mat-button-toggle>
          <mat-button-toggle [value]="'month'">月</mat-button-toggle>
          <mat-button-toggle [value]="'year'">年</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>请输入日期范围</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="起始日期">
            <input matEndDate formControlName="end" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (range.controls['start'].hasError('matStartDateInvalid')) {
            <mat-error>起始日期无效</mat-error>
          }
          @if (range.controls['end'].hasError('matEndDateInvalid')) {
            <mat-error>结束日期无效</mat-error>
          }
        </mat-form-field>
        @if (performanceInterval === 'quarter' || performanceInterval === 'hour') {
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>请输入开始时间</mat-label>
            <input matInput formControlName="time" [matTimepicker]="pickerStart" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerStart" />
            <mat-timepicker [interval]="performanceInterval === 'quarter' ? 900 : 3600" #pickerStart />
          </mat-form-field>
        }
      </div>
    </form>
  }
  @if (this.direction() === 'vendor') {
     <form class="form-in-header" [formGroup]="formGroupQuery">
      <div class="full-width-input flex">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>流量主</mat-label>
          <carambola-filtered-select-vendor formControlName="vendor" [multiple]="true" [options]="vendors" />
          @if (formGroupQuery.value.vendor && formGroupQuery.value.vendor.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'vendor', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>下游媒体</mat-label>
          <carambola-filtered-select-vendormedia formControlName="vendorMedia" [multiple]="true" [options]="vendorMedias" />
          @if (formGroupQuery.value.vendorMedia && formGroupQuery.value.vendorMedia.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'vendorMedia', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>广告形式</mat-label>
          <mat-select multiple panelWidth="" formControlName="format">
            @for (key of filterFormat.keys(); track key) {
              <mat-option [value]="key">{{ filterFormat.get(key) }}</mat-option>
            }
          </mat-select>
          @if (formGroupQuery.value.format.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'format', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>广告位模式</mat-label>
          <mat-select multiple panelWidth="" formControlName="mode">
            @for (key of filterMode.keys(); track key) {
              <mat-option [value]="key">{{ filterMode.get(key) }}</mat-option>
            }
          </mat-select>
          @if (formGroupQuery.value.mode.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'mode', [])">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>下游广告位名称，ID</mat-label>
          <input placeholder="搜索" matInput formControlName="search" />
          @if (formGroupQuery.value.search.length > 0) {
            <button type="button" matSuffix mat-icon-button (click)="clear($event, 'search', '')">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
    </form>
    <form class="form-in-header" [formGroup]="range">
      <div class="full-width-input flex">
        <button type="button" class="form-button" mat-button>时间颗粒度</button>
        <mat-button-toggle-group [value]="performanceInterval" (change)="changePerformanceInterval($event)">
          <mat-button-toggle [value]="'quarter'">15分钟</mat-button-toggle>
          <mat-button-toggle [value]="'hour'">小时</mat-button-toggle>
          <mat-button-toggle [value]="'day'">日</mat-button-toggle>
          <mat-button-toggle [value]="'month'">月</mat-button-toggle>
          <mat-button-toggle [value]="'year'">年</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>请输入日期范围</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="起始日期">
            <input matEndDate formControlName="end" placeholder="结束日期">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (range.controls['start'].hasError('matStartDateInvalid')) {
            <mat-error>起始日期无效</mat-error>
          }
          @if (range.controls['end'].hasError('matEndDateInvalid')) {
            <mat-error>结束日期无效</mat-error>
          }
        </mat-form-field>
        @if (performanceInterval === 'quarter' || performanceInterval === 'hour') {
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>请输入开始时间</mat-label>
            <input matInput formControlName="time" [matTimepicker]="pickerStart" />
            <mat-timepicker-toggle matIconSuffix [for]="pickerStart" />
            <mat-timepicker [interval]="performanceInterval === 'quarter' ? 900 : 3600" #pickerStart />
          </mat-form-field>
        }
      </div>
    </form>
  }

  <div class="form-in-header">
    <div class="full-width-input flex">
      @if (direction() === 'client') {
        <button type="button" class="form-button" mat-button>上游聚合颗粒度</button>
        <mat-button-toggle-group [value]="performanceAggregateUpstream" (change)="changePerformanceAggregateUpstream($event)">
          <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
          <mat-button-toggle [value]="'client'">广告主</mat-button-toggle>
          <mat-button-toggle [value]="'clientport'">上游广告位</mat-button-toggle>
        </mat-button-toggle-group>
      }
      @if (direction() === 'vendor') {
        <button type="button" class="form-button" mat-button>下游聚合颗粒度</button>
        <mat-button-toggle-group [value]="performanceAggregateDownstream" (change)="changePerformanceAggregateDownstream($event)">
          <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
          <mat-button-toggle [value]="'vendor'">流量主</mat-button-toggle>
          <mat-button-toggle [value]="'vendorport'">下游广告位</mat-button-toggle>
        </mat-button-toggle-group>
      }
      @if (direction() === 'vendor' && expandedRow) {
        <button type="button" class="form-button" mat-button>上游聚合颗粒度</button>
        <mat-button-toggle-group [value]="performanceAggregateUpstream" (change)="changePerformanceAggregateUpstream($event)">
          <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
          <mat-button-toggle [value]="'client'">广告主</mat-button-toggle>
          <mat-button-toggle [value]="'clientport'">上游广告位</mat-button-toggle>
        </mat-button-toggle-group>
      }
      @if (direction() === 'client' && expandedRow) {
        <button type="button" class="form-button" mat-button>下游聚合颗粒度</button>
        <mat-button-toggle-group [value]="performanceAggregateDownstream" (change)="changePerformanceAggregateDownstream($event)">
          <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
          <mat-button-toggle [value]="'vendor'">流量主</mat-button-toggle>
          <mat-button-toggle [value]="'vendorport'">下游广告位</mat-button-toggle>
        </mat-button-toggle-group>
      }
      <form [formGroup]="formGroupColumn">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>显示列</mat-label>
          <mat-select multiple formControlName="column">
            @for (key of candidateColumns.keys(); track key) {
              <mat-option [value]="key">{{ candidateColumns.get(key) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
      <button type="button" class="form-button" mat-stroked-button (click)="query()">刷新</button>
      <button type="button" class="form-button" mat-stroked-button (click)="download()">下载</button>
    </div>
  </div>

  <mat-paginator [hidePageSize]="'false'" [pageSize]="50" [pageSizeOptions]="[10, 30, 50]" [showFirstLastButtons]="'true'"></mat-paginator>

  <div class="table-container" (scroll)="onTableScroll($event)" (scrollEnd)="onTableScroll($event)" #table>
    <mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
      <ng-container matColumnDef="expand" [sticky]="true">
        <mat-header-cell class="expand" *matHeaderCellDef mat-sort-header>
        </mat-header-cell>
        <mat-cell class="expand" *matCellDef="let row">
          @if (expandedRow !== row && row.start.getTime() !== 0) {
            <button mat-icon-button (click)="expand(row)">
              <mat-icon>unfold_more</mat-icon>
            </button>
          }
          @if (expandedRow === row && row.start.getTime() !== 0) {
            <button mat-icon-button (click)="expand(row)">
              <mat-icon>unfold_less</mat-icon>
            </button>
          }
        </mat-cell>
        <mat-footer-cell class="expand" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="time" [sticky]="true">
        <mat-header-cell [ngClass]="{
            'time': direction() === 'client' && performanceAggregateUpstream !== 'all' || direction() === 'vendor' && performanceAggregateDownstream !== 'all',
            'partner': direction() === 'client' && performanceAggregateUpstream === 'all' || direction() === 'vendor' && performanceAggregateDownstream === 'all',
          }" *matHeaderCellDef mat-sort-header>
          时间
        </mat-header-cell>
        <mat-cell [ngClass]="{
            'time': direction() === 'client' && performanceAggregateUpstream !== 'all' || direction() === 'vendor' && performanceAggregateDownstream !== 'all',
            'partner': direction() === 'client' && performanceAggregateUpstream === 'all' || direction() === 'vendor' && performanceAggregateDownstream === 'all',
          }" *matCellDef="let row">
          {{ row.time }}
        </mat-cell>
        <mat-footer-cell [ngClass]="{
            'time': direction() === 'client' && performanceAggregateUpstream !== 'all' || direction() === 'vendor' && performanceAggregateDownstream !== 'all',
            'partner': direction() === 'client' && performanceAggregateUpstream === 'all' || direction() === 'vendor' && performanceAggregateDownstream === 'all',
          }" *matFooterCellDef>
          合计
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="partner" [sticky]="true">
        <mat-header-cell class="partner" *matHeaderCellDef mat-sort-header>
          @if (this.direction() === 'client') {
            上游
          }
          @if (this.direction() === 'vendor') {
            下游
          }
        </mat-header-cell>
        <mat-cell class="partner" *matCellDef="let row">
          @if (this.direction() === 'client') {
            @if (performanceAggregateUpstream === 'client') {
              <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(row.client)"></carambola-ad-entity>
            }
            @if (performanceAggregateUpstream === 'clientport') {
              <div class="partner-cover" [cdkContextMenuTriggerFor]="clientPortMenu" [cdkContextMenuTriggerData]="{$implicit: clientPortMap.get(row.clientPort)}">
                <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(row.client)"></carambola-ad-entity>
                <carambola-ad-entity type="clientPort" mode="brief" [clientPort]="clientPortMap.get(row.clientPort)"></carambola-ad-entity>
              </div>
            }
          }
          @if (this.direction() === 'vendor') {
            @if (performanceAggregateDownstream === 'vendor') {
              <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(row.vendor)"></carambola-ad-entity>
            }
            @if (performanceAggregateDownstream === 'vendorport') {
              <div class="partner-cover" [cdkContextMenuTriggerFor]="vendorPortMenu" [cdkContextMenuTriggerData]="{$implicit: vendorPortMap.get(row.vendorPort)}">
                <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(row.vendor)"></carambola-ad-entity>
                <carambola-ad-entity type="vendorPort" mode="brief" [vendorPort]="vendorPortMap.get(row.vendorPort)"></carambola-ad-entity>
              </div>
            }
          }
        </mat-cell>
        <mat-footer-cell class="partner" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="request">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          请求
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.request | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.request | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="request-valid">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          有效请求
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.requestv | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.requestv | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="response">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          响应
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.response | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.response | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="response-valid">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          有效响应
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.responsev | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.responsev | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="gfr">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          填充率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.requestv ? (row.response / row.requestv | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.requestv ? (performanceViewTotal.response / performanceViewTotal.requestv | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="gfrv">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          有效填充率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.requestv ? (row.responsev / row.requestv | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.requestv ? (performanceViewTotal.responsev / performanceViewTotal.requestv | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="impression">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          展现
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.impression | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="click">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          点击
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.click | number }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.click | number }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="er">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          展现率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.response ? (row.impression / row.response | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.response ? (performanceViewTotal.impression / performanceViewTotal.response | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="ctr">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          点击率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression ? (row.click / row.impression | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.impression ? (performanceViewTotal.click / performanceViewTotal.impression | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="income">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          收入
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.income / 100000 | number: '0.2-2' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.income / 100000 | number: '0.2-2' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="outcome">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          成本
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ (row.outcomeUpstream + row.outcomeRebate + row.outcomeDownstream) / 100000 | number: '0.2-2' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ (performanceViewTotal.outcomeUpstream + performanceViewTotal.outcomeRebate + performanceViewTotal.outcomeDownstream) / 100000 | number: '0.2-2' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="profit">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          利润
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ (row.income - row.outcomeUpstream - row.outcomeRebate - row.outcomeDownstream) / 100000 | number: '0.2-2' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ (performanceViewTotal.income - performanceViewTotal.outcomeUpstream - performanceViewTotal.outcomeRebate - performanceViewTotal.outcomeDownstream) / 100000 | number: '0.2-2' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="rv">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          请求价值
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.requestv ? (row.income / row.requestv / 10 | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.request ? (performanceViewTotal.income / performanceViewTotal.request / 10 | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cpmu">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          上游CPM
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression ? (row.income / 100 / row.impression | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.impression ? (performanceViewTotal.income / 100 / performanceViewTotal.impression | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cpmd">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          下游CPM
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.outcomeDownstream ? (row.outcomeDownstream / 100 / row.impression | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ performanceViewTotal.outcomeDownstream ? (performanceViewTotal.outcomeDownstream / 100 / performanceViewTotal.impression | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <mat-header-cell class="actions" *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row;">
          @if (hoverRow === row) {
            <button mat-icon-button (click)="showBundleDetail(row, false)">
              <mat-icon>troubleshooting</mat-icon>
            </button>
          }
        </mat-cell>
        <mat-footer-cell class="actions" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell class="extended-cell" [ngStyle]="{'flex': '1 0 ' + displayedColumnsWidth + 'px', 'min-width': displayedColumnsWidth + 'px'}" *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="extended-table-container" [ngStyle]="{'flex': '1 0 ' + displayedColumnsWidth + 'px', 'min-width': displayedColumnsWidth + 'px'}" [@detailExpand]="row === expandedRow && !loading ? 'expanded' : 'collapsed'">
            <mat-table [dataSource]="dataSourceSub">
              <ng-container matColumnDef="expand">
                <mat-cell class="placeholder expand" *matCellDef="let rowSub" [ngStyle]="{'left': scrollLeft + 'px'}">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="time">
                <mat-cell [ngStyle]="{'left': scrollLeft + 'px'}" [ngClass]="{
                    'placeholder': true,
                    'time': direction() === 'client' && performanceAggregateUpstream !== 'all' || direction() === 'vendor' && performanceAggregateDownstream !== 'all',
                    'partner': direction() === 'client' && performanceAggregateUpstream === 'all' || direction() === 'vendor' && performanceAggregateDownstream === 'all',
                  }" *matCellDef="let rowSub">
                  @if (this.direction() === 'client' && performanceAggregateUpstream === 'all') {
                    @if (performanceAggregateDownstream === 'vendor') {
                      <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(rowSub.vendor)"></carambola-ad-entity>
                    }
                    @if (performanceAggregateDownstream === 'vendorport') {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="vendorPortMenu" [cdkContextMenuTriggerData]="{$implicit: vendorPortMap.get(rowSub.vendorPort)}">
                        <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(rowSub.vendor)"></carambola-ad-entity>
                        <carambola-ad-entity type="vendorPort" mode="brief" [vendorPort]="vendorPortMap.get(rowSub.vendorPort)"></carambola-ad-entity>
                      </div>
                    }
                  }
                  @if (this.direction() === 'vendor' && performanceAggregateDownstream === 'all') {
                    @if (performanceAggregateUpstream === 'client' && rowSub.client !== -1) {
                      <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                    }
                    @if (performanceAggregateUpstream === 'clientport' && rowSub.client !== -1) {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="clientPortMenu" [cdkContextMenuTriggerData]="{$implicit: clientPortMap.get(rowSub.clientPort)}">
                        <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                        <carambola-ad-entity type="clientPort" mode="brief" [clientPort]="clientPortMap.get(rowSub.clientPort)"></carambola-ad-entity>
                      </div>
                    }
                    @if (performanceAggregateUpstream === 'client' && rowSub.client === -1 || performanceAggregateUpstream === 'clientport' && rowSub.clientPort === -1) {
                      <button mat-button>无响应</button>
                    }
                    @if (performanceAggregateUpstream === 'all') {
                      <button mat-button>全部</button>
                    }
                  }
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="partner">
                <mat-cell class="placeholder partner" [ngStyle]="{'left': scrollLeft + 'px'}" *matCellDef="let rowSub">
                  @if (this.direction() === 'client' && performanceAggregateUpstream !== 'all') {
                    @if (performanceAggregateDownstream === 'vendor') {
                      <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(rowSub.vendor)"></carambola-ad-entity>
                    }
                    @if (performanceAggregateDownstream === 'vendorport') {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="vendorPortMenu" [cdkContextMenuTriggerData]="{$implicit: vendorPortMap.get(rowSub.vendorPort)}">
                        <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(rowSub.vendor)"></carambola-ad-entity>
                        <carambola-ad-entity type="vendorPort" mode="brief" [vendorPort]="vendorPortMap.get(rowSub.vendorPort)"></carambola-ad-entity>
                      </div>
                    }
                  }
                  @if (this.direction() === 'vendor' && performanceAggregateDownstream !== 'all') {
                    @if (performanceAggregateUpstream === 'client' && rowSub.client !== -1) {
                      <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                    }
                    @if (performanceAggregateUpstream === 'clientport' && rowSub.client !== -1) {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="clientPortMenu" [cdkContextMenuTriggerData]="{$implicit: clientPortMap.get(rowSub.clientPort)}">
                        <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                        <carambola-ad-entity type="clientPort" mode="brief" [clientPort]="clientPortMap.get(rowSub.clientPort)"></carambola-ad-entity>
                      </div>
                    }
                    @if (performanceAggregateUpstream === 'client' && rowSub.client === -1 || performanceAggregateUpstream === 'clientport' && rowSub.clientPort === -1) {
                      <button mat-button>无响应</button>
                    }
                    @if (performanceAggregateUpstream === 'all') {
                      <button mat-button>全部</button>
                    }
                  }
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="request">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.request | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="request-valid">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.requestv | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="response">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.response | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="response-valid">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.responsev | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="gfr">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.requestv ? (rowSub.response / rowSub.requestv | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="gfrv">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.requestv ? (rowSub.responsev / rowSub.requestv | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="impression">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="click">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.click | number }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="er">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.response ? (rowSub.impression / rowSub.response | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ctr">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression ? (rowSub.click / rowSub.impression | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="income">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.income / 100000 | number: '0.2-2' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="outcome">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ (rowSub.outcomeUpstream + rowSub.outcomeRebate + rowSub.outcomeDownstream) / 100000 | number: '0.2-2' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="profit">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ (rowSub.income - rowSub.outcomeUpstream - rowSub.outcomeRebate - rowSub.outcomeDownstream) / 100000 | number: '0.2-2' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="rv">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.requestv ? (rowSub.income / rowSub.requestv / 10 | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cpmu">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression ? (rowSub.income / 100 / rowSub.impression | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cpmd">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.outcomeDownstream ? (rowSub.outcomeDownstream / 100 / rowSub.impression | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-cell class="placeholder actions" [ngStyle]="{'right': scrollRight + 'px'}" *matCellDef="let rowSub;">
                  @if (hoverRow === rowSub) {
                    <button mat-icon-button (click)="showBundleDetail(rowSub, true)">
                      <mat-icon>troubleshooting</mat-icon>
                    </button>
                  }
                </mat-cell>
              </ng-container>

              <mat-row *matRowDef="let rowSub; columns: displayedColumns" class="sub-row" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" (mouseenter)="mouseenter(rowSub)" (mouseleave)="mouseleave()"></mat-row>
            </mat-table>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" class="element-row expandable" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" [class.expanded-row]="expandedRow === row" (mouseenter)="mouseenter(row)" (mouseleave)="mouseleave()"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" [class.expanded-row]="(row === expandedRow) && !loading"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}"></mat-footer-row>
    </mat-table>
  </div>
</div>

<ng-template #clientPortMenu let-clientPort>
  <div class="port-menu" cdkMenu>
    <mat-card>
      <mat-card-content>
        <carambola-ad-entity type="clientPort" mode="brief" [clientPort]="clientPort"></carambola-ad-entity>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'connection')">
          <mat-icon>cable</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'property')">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'traffic')">
          <mat-icon>trending_up</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
<ng-template #vendorPortMenu let-vendorPort>
  <div class="port-menu" cdkMenu>
    <mat-card>
      <mat-card-content>
        <carambola-ad-entity type="vendorPort" mode="brief" [vendorPort]="vendorPort"></carambola-ad-entity>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'connection')">
          <mat-icon>cable</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'property')">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'traffic')">
          <mat-icon>trending_up</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
