.expanded-toolbar {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  background-color: var(--mat-sys-secondary-container);
}
.expanded-toolbar a {
  color: inherit;
  text-decoration: none;
}
