@use '../../styles/management.scss';

.input-percentage {
  text-align: right;
}

.rule-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.rule-list {
  display: flex;
  flex-direction: column;
}
.rule-add {
  position: relative;
  right: 0;
  top: 0;
}
