.mat-drawer-container {
  height: 100%;
}
.mat-drawer {
  overflow: hidden;
  width: auto;
}
.mat-drawer.full {
  width: 300px;
}
.mat-drawer-content.padded {
  margin-left: 40px;
}
@media screen and (width < 600px) {
  .mat-drawer {
    position: absolute !important;
    bottom: unset;
  }
}
