<ng-container>
  <mat-card class="card-in-container">
    <mat-card-content>
      <mat-tab-group class="tab-in-card">
        <mat-tab label="租户属性">
          <form class="form-in-tab" [formGroup]="formGroup">
            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>租户名称</mat-label>
              <input placeholder="租户名称" matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>租户管理员</mat-label>
              <mat-chip-grid #chipGridManager formControlName="manager">
                @for (user of managerUsers; track user.username) {
                  <mat-chip-row [value]="user" (removed)="remove(user, ctrlManager, managerUsers)">
                    {{ user.username }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="增加用户" #inputManager matInput [formControl]="ctrlManager"
                [matChipInputFor]="chipGridManager" [matAutocomplete]="autoManager"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, ctrlManager, managerUsers)" />
              <mat-autocomplete #autoManager="matAutocomplete" (optionSelected)="select($event, inputManager, ctrlManager, managerUsers)">
                @for (user of filteredManager | async; track user.username) {
                  <mat-option [value]="user.username">
                    {{ user.username }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>租户运营</mat-label>
              <mat-chip-grid #chipGridOperator formControlName="operator">
                @for (user of operatorUsers; track user.username) {
                  <mat-chip-row [value]="user" (removed)="remove(user, ctrlOperator, operatorUsers)">
                    {{ user.username }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="增加用户" #inputOperator matInput [formControl]="ctrlOperator"
                [matChipInputFor]="chipGridOperator" [matAutocomplete]="autoOperator"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, ctrlOperator, operatorUsers)" />
              <mat-autocomplete #autoOperator="matAutocomplete" (optionSelected)="select($event, inputOperator, ctrlOperator, operatorUsers)">
                @for (user of filteredOperator | async; track user.username) {
                  <mat-option [value]="user.username">
                    {{ user.username }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>租户观察员</mat-label>
              <mat-chip-grid #chipGridObserver formControlName="observer">
                @for (user of observerUsers; track user.username) {
                  <mat-chip-row [value]="user" (removed)="remove(user, ctrlObserver, observerUsers)">
                    {{ user.username }}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                }
              </mat-chip-grid>
              <input placeholder="增加用户" #inputObserver matInput [formControl]="ctrlObserver"
                [matChipInputFor]="chipGridObserver" [matAutocomplete]="autoObserver"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event, ctrlObserver, observerUsers)" />
              <mat-autocomplete #autoObserver="matAutocomplete" (optionSelected)="select($event, inputObserver, ctrlObserver, observerUsers)">
                @for (user of filteredObserver | async; track user.username) {
                  <mat-option [value]="user.username">
                    {{ user.username }}
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            @if (tenant() !== null) {
              <mat-form-field class="full-width-input" subscriptSizing="dynamic">
                <mat-label>上游观察员</mat-label>
                <mat-chip-grid #chipGridUpstream formControlName="upstream">
                  @for (user of upstreamUsers; track user.username) {
                    <mat-chip-row [value]="user" (removed)="remove(user, null, upstreamUsers)">
                      {{ user.username }} ({{ getClientName(user.resource) }})
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                </mat-chip-grid>
                <input matInput disabled [matChipInputFor]="chipGridUpstream" />
              </mat-form-field>

              <mat-form-field class="full-width-input" subscriptSizing="dynamic">
                <mat-label>下游管理员</mat-label>
                <mat-chip-grid #chipGridDownstream formControlName="downstream">
                  @for (user of downstreamUsers; track user.username) {
                    <mat-chip-row [value]="user" (removed)="remove(user, null, downstreamUsers)">
                      {{ user.username }} ({{ getVendorName(user.resource) }})
                      <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  }
                </mat-chip-grid>
                <input matInput disabled [matChipInputFor]="chipGridDownstream" />
              </mat-form-field>
            }

            <mat-checkbox class="full-width-input" formControlName="enabled">启用</mat-checkbox>

            <div class="full-width-input flex">
              @if (tenant() === null) {
                <button type="button" class="form-button" mat-stroked-button (click)="addTenant()">创建</button>
                <button type="button" class="form-button cancel" mat-stroked-button (click)="cancelTenant()">取消</button>
              }
              @if (tenant() !== null) {
                @if (!readonly) {
                  <button type="button" class="form-button" mat-stroked-button (click)="updateTenant()">修改</button>
                }
                <button type="button" class="form-button cancel" mat-stroked-button (click)="cancelTenant()">取消</button>
                @if (tenantService.isManager()) {
                  <button type="button" class="form-button delete" mat-stroked-button (click)="removeTenant()">删除</button>
                }
              }
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
