.admin-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.admin-header {
  flex-shrink: 0;
  flex-grow: 0;
}
.admin-body {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
}
.admin-footer {
  flex-shrink: 0;
  flex-grow: 0;
}
