<div class="container">
  <form class="form-in-header" [formGroup]="formGroupQuery">
    <div class="full-width-input flex">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>流量主</mat-label>
        <carambola-filtered-select-vendor formControlName="vendor" [multiple]="true" [options]="vendors" />
        @if (formGroupQuery.value.vendor && formGroupQuery.value.vendor.length > 0) {
          <button type="button" matSuffix mat-icon-button (click)="clear($event, 'vendor', [])">
            <mat-icon>clear</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>下游媒体</mat-label>
        <carambola-filtered-select-vendormedia formControlName="vendorMedia" [multiple]="true" [options]="vendorMedias" />
        @if (formGroupQuery.value.vendorMedia && formGroupQuery.value.vendorMedia.length > 0) {
          <button type="button" matSuffix mat-icon-button (click)="clear($event, 'vendorMedia', [])">
            <mat-icon>clear</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>广告位模式</mat-label>
        <mat-select multiple panelWidth="" formControlName="mode">
          @for (key of filterMode.keys(); track key) {
            <mat-option [value]="key">{{ filterMode.get(key) }}</mat-option>
          }
        </mat-select>
        @if (formGroupQuery.value.mode.length > 0) {
          <button type="button" matSuffix mat-icon-button (click)="clear($event, 'mode', [])">
            <mat-icon>clear</mat-icon>
          </button>
        }
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>下游广告位名称，ID</mat-label>
        <input placeholder="搜索" matInput formControlName="search" />
        @if (formGroupQuery.value.search.length > 0) {
          <button type="button" matSuffix mat-icon-button (click)="clear($event, 'search', '')">
            <mat-icon>clear</mat-icon>
          </button>
        }
      </mat-form-field>
    </div>
  </form>
  <form class="form-in-header" [formGroup]="range">
    <div class="full-width-input flex">
      <button type="button" class="form-button" mat-button>时间颗粒度</button>
      <mat-button-toggle-group [value]="signInterval" (change)="changeSignInterval($event)">
        <mat-button-toggle [value]="'day'">日</mat-button-toggle>
        <mat-button-toggle [value]="'month'">月</mat-button-toggle>
        <mat-button-toggle [value]="'year'">年</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>请输入日期范围</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="起始日期">
          <input matEndDate formControlName="end" placeholder="结束日期">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (range.controls['start'].hasError('matStartDateInvalid')) {
          <mat-error>起始日期无效</mat-error>
        }
        @if (range.controls['end'].hasError('matEndDateInvalid')) {
          <mat-error>结束日期无效</mat-error>
        }
      </mat-form-field>
      @if (signAggregateDownstream === 'vendorport' && this.signInterval === 'day') {
        <button type="button" class="form-button" mat-button>账单过滤</button>
        <mat-button-toggle-group multiple [value]="signStatusFilter" (change)="changeSignStatus($event)">
          <mat-button-toggle [value]="SignStatus.SIGN_STATUS_PENDING">等待数据</mat-button-toggle>
          <mat-button-toggle [value]="SignStatus.SIGN_STATUS_READY">数据就绪</mat-button-toggle>
          <mat-button-toggle [value]="SignStatus.SIGN_STATUS_CREATED">待签发</mat-button-toggle>
          <mat-button-toggle [value]="SignStatus.SIGN_STATUS_SIGNED">已签发</mat-button-toggle>
        </mat-button-toggle-group>
      }
    </div>
  </form>

  <div class="form-in-header">
    <div class="full-width-input flex">
      <button type="button" class="form-button" mat-button>下游聚合颗粒度</button>
      <mat-button-toggle-group [value]="signAggregateDownstream" (change)="changeSignAggregateDownstream($event)">
        <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
        <mat-button-toggle [value]="'vendor'">流量主</mat-button-toggle>
        <mat-button-toggle [value]="'vendorport'">下游广告位</mat-button-toggle>
      </mat-button-toggle-group>
      @if (expandedRow) {
        <button type="button" class="form-button" mat-button>上游聚合颗粒度</button>
        <mat-button-toggle-group [value]="signAggregateUpstream" (change)="changeSignAggregateUpstream($event)">
          <mat-button-toggle [value]="'all'">全部</mat-button-toggle>
          <mat-button-toggle [value]="'client'">广告主</mat-button-toggle>
          <mat-button-toggle [value]="'clientport'">上游广告位</mat-button-toggle>
        </mat-button-toggle-group>
      }
      <form [formGroup]="formGroupColumn">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>显示列</mat-label>
          <mat-select multiple formControlName="column">
            @for (key of candidateColumns.keys(); track key) {
              <mat-option [value]="key">{{ candidateColumns.get(key) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>
      <button type="button" class="form-button" mat-stroked-button (click)="query()">刷新</button>
      @if (signAggregateDownstream === 'vendorport' && signInterval === 'day' && signViewDataSelected.length === 1 && (signViewDataSelected[0].status === SignStatus.SIGN_STATUS_PENDING || signViewDataSelected[0].status === SignStatus.SIGN_STATUS_READY)) {
        <button type="button" class="form-button" mat-stroked-button (click)="create()">单条创建</button>
      }
      @if (signAggregateDownstream === 'vendorport' && signInterval === 'day' && signViewDataSelected.length === 1 && signViewDataSelected[0].status === SignStatus.SIGN_STATUS_CREATED) {
        <button type="button" class="form-button" mat-stroked-button (click)="edit()">单条修改</button>
      }
      @if (signAggregateDownstream === 'vendorport' && signInterval === 'day' && signViewDataSelected.length > 0 && signViewFullyReady) {
        <button type="button" class="form-button" mat-stroked-button (click)="stage()">批量创建</button>
      }
      @if (signAggregateDownstream === 'vendorport' && signInterval === 'day' && signViewDataSelected.length > 0 && signViewFullySigned) {
        <button type="button" class="form-button delete" mat-stroked-button (click)="revoke()">批量撤销</button>
      }
      @if (signAggregateDownstream === 'vendorport' && signInterval === 'day' && signViewDataSelected.length > 0 && signViewFullyCreated) {
        <button type="button" class="form-button new" mat-stroked-button (click)="sign()">批量签发</button>
      }
      <button type="button" class="form-button" mat-stroked-button (click)="download()">下载</button>
      <button type="button" class="form-button" mat-stroked-button (click)="fileDownstream.click()">上传</button>
      <input type="file" #fileDownstream accept="*/*" (change)="upload($event.target)" (click)="fileDownstream.value = ''" />
    </div>
  </div>

  <mat-paginator [hidePageSize]="'false'" [pageSize]="50" [pageSizeOptions]="[10, 30, 50]" [showFirstLastButtons]="'true'"></mat-paginator>

  <div class="table-container" (scroll)="onTableScroll($event)" (scrollEnd)="onTableScroll($event)" #table id="table">
    <mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
      <ng-container matColumnDef="expand" [sticky]="true">
        <mat-header-cell class="expand" *matHeaderCellDef mat-sort-header>
        </mat-header-cell>
        <mat-cell class="expand" *matCellDef="let row">
          @if (expandedRow !== row && row.start.getTime() !== 0) {
            <button mat-icon-button (click)="expand(row)">
              <mat-icon>unfold_more</mat-icon>
            </button>
          }
          @if (expandedRow === row && row.start.getTime() !== 0) {
            <button mat-icon-button (click)="expand(row)">
              <mat-icon>unfold_less</mat-icon>
            </button>
          }
        </mat-cell>
        <mat-footer-cell class="expand" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="time" [sticky]="true">
        <mat-header-cell [ngClass]="{
            'time': signAggregateDownstream !== 'all',
            'partner':signAggregateDownstream === 'all',
          }" *matHeaderCellDef mat-sort-header>
          时间
        </mat-header-cell>
        <mat-cell [ngClass]="{
            'time': signAggregateDownstream !== 'all',
            'partner': signAggregateDownstream === 'all',
          }" *matCellDef="let row" [matTooltip]="signAggregateDownstream === 'all' ? '结算进度：' + row.closed + '/' + row.total : ''">
          {{ row.time }}
          @if (signAggregateDownstream === 'all') {
            <div class="progress">
              <div class="progress-bar" [ngStyle]="{'width': row.closed / row.total * 100 + '%'}">
              </div>
            </div>
          }
        </mat-cell>
        <mat-footer-cell [ngClass]="{
            'time': signAggregateDownstream !== 'all',
            'partner': signAggregateDownstream === 'all',
          }" *matFooterCellDef>
          合计
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="partner" [sticky]="true">
        <mat-header-cell class="partner" *matHeaderCellDef mat-sort-header>
          下游
        </mat-header-cell>
        <mat-cell class="partner" *matCellDef="let row" [matTooltip]="'结算进度：' + row.closed + '/' + row.total">
          @if (signAggregateDownstream === 'vendor') {
            <div class="partner-cover">
              <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(row.vendor)"></carambola-ad-entity>
            </div>
          }
          @if (signAggregateDownstream === 'vendorport') {
            <div class="partner-cover" [cdkContextMenuTriggerFor]="vendorPortMenu" [cdkContextMenuTriggerData]="{$implicit: vendorPortMap.get(row.vendorPort)}">
              <carambola-ad-entity type="vendor" mode="tiny" [vendor]="vendorMap.get(row.vendor)"></carambola-ad-entity>
              <carambola-ad-entity type="vendorPort" mode="tiny" [vendorPort]="vendorPortMap.get(row.vendorPort)"></carambola-ad-entity>
            </div>
          }
          @if (signAggregateDownstream !== 'all') {
            <div class="progress">
              <div class="progress-bar" [ngStyle]="{'width': row.closed / row.total * 100 + '%'}">
              </div>
            </div>
          }
        </mat-cell>
        <mat-footer-cell class="partner" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cost">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          预估收益
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.cost !== null ? (row.cost / 100000 | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.cost !== null ? (signViewTotal.cost / 100000 | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="impression">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          展现
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression !== null ? (row.impression | number) : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.impression !== null ? (signViewTotal.impression | number) : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="click">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          点击
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.click !== null ? (row.click | number) : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.click !== null ? (signViewTotal.click | number) : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="ctr">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          点击率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression ? (row.click / row.impression | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.impression && signViewTotal.click !== null ? (signViewTotal.click / signViewTotal.impression | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="cpm">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          eCPM
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.impression ? (row.cost / 100 / row.impression | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.impression && signViewTotal.cost !== null ? (signViewTotal.cost / 100 / signViewTotal.impression | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="request">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          请求
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.request !== null ? (row.request | number) : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.request !== null ? (signViewTotal.request | number) : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="response">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          响应
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.response !== null ? (row.response | number) : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.response !== null ? (signViewTotal.response | number) : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="gfr">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          填充率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.request ? (row.response / row.request | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.request && signViewTotal.response !== null ? (signViewTotal.response / signViewTotal.request | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="er">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          展现率
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.response ? (row.impression / row.response | percent: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.response && signViewTotal.impression !== null ? (signViewTotal.impression / signViewTotal.response | percent: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="rv">
        <mat-header-cell class="number" *matHeaderCellDef mat-sort-header>
          请求价值
        </mat-header-cell>
        <mat-cell class="number" *matCellDef="let row">
          {{ row.request ? (row.cost / row.request / 10 | number: '0.2-2') : '-' }}
        </mat-cell>
        <mat-footer-cell class="number" *matFooterCellDef>
          {{ signViewTotal.request && signViewTotal.cost !== null ? (signViewTotal.cost / signViewTotal.request / 10 | number: '0.2-2') : '-' }}
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <mat-header-cell class="actions" *matHeaderCellDef>
          @if (signAggregateDownstream === 'vendorport' && signInterval === 'day') {
            <mat-checkbox (click)="checkAll()" [checked]="signViewDataSelected.length === signViewData.length && signViewData.length > 0"></mat-checkbox>
          }
        </mat-header-cell>
        <mat-cell class="actions" *matCellDef="let row;">
          @if (signAggregateDownstream === 'vendorport' && signInterval === 'day') {
            <mat-button-toggle-group multiple>
              @if (row.status === SignStatus.SIGN_STATUS_SIGNED) {
                <mat-button-toggle (click)="checkOne(row)" [checked]="signViewDataSelected.indexOf(row) >= 0">已签发</mat-button-toggle>
              } @else if (row.status === SignStatus.SIGN_STATUS_CREATED) {
                <mat-button-toggle (click)="checkOne(row)" [checked]="signViewDataSelected.indexOf(row) >= 0">待签发</mat-button-toggle>
              } @else if (row.status === SignStatus.SIGN_STATUS_READY) {
                <mat-button-toggle (click)="checkOne(row)" [checked]="signViewDataSelected.indexOf(row) >= 0">数据就绪</mat-button-toggle>
              } @else {
                <mat-button-toggle (click)="checkOne(row)" [checked]="signViewDataSelected.indexOf(row) >= 0">等待数据</mat-button-toggle>
              }
            </mat-button-toggle-group>
          } @else {
            @if (row.status === SignStatus.SIGN_STATUS_SIGNED) {
              <button mat-button>已签发</button>
            } @else if (row.status === SignStatus.SIGN_STATUS_CREATED) {
              <button mat-button>待签发</button>
            } @else if (row.status === SignStatus.SIGN_STATUS_READY) {
              <button mat-button>数据就绪</button>
            } @else {
              <button mat-button>等待数据</button>
            }
          }
        </mat-cell>
        <mat-footer-cell class="actions" *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <mat-cell class="extended-cell" [ngStyle]="{'flex': '1 0 ' + displayedColumnsWidth + 'px', 'min-width': displayedColumnsWidth + 'px'}" *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="extended-table-container" [ngStyle]="{'flex': '1 0 ' + displayedColumnsWidth + 'px', 'min-width': displayedColumnsWidth + 'px'}" [@detailExpand]="row === expandedRow && !loading ? 'expanded' : 'collapsed'">
            <mat-table [dataSource]="dataSourceSub">
              <ng-container matColumnDef="expand">
                <mat-cell class="placeholder expand" *matCellDef="let rowSub" [ngStyle]="{'left': scrollLeft + 'px'}">
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="time">
                <mat-cell [ngStyle]="{'left': scrollLeft + 'px'}" [ngClass]="{
                    'placeholder': true,
                    'time': signAggregateDownstream !== 'all',
                    'partner': signAggregateDownstream === 'all',
                  }" *matCellDef="let rowSub">
                  @if (signAggregateDownstream === 'all') {
                    @if (signAggregateUpstream === 'client') {
                      <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                    }
                    @if (signAggregateUpstream === 'clientport') {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="clientPortMenu" [cdkContextMenuTriggerData]="{$implicit: clientPortMap.get(rowSub.clientPort)}">
                        <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                        <carambola-ad-entity type="clientPort" mode="tiny" [clientPort]="clientPortMap.get(rowSub.clientPort)"></carambola-ad-entity>
                      </div>
                    }
                    @if (signAggregateUpstream === 'all') {
                      <button mat-button>全部</button>
                    }
                  }
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="partner">
                <mat-cell class="placeholder partner" [ngStyle]="{'left': scrollLeft + 'px'}" *matCellDef="let rowSub">
                  @if (signAggregateDownstream !== 'all') {
                    @if (signAggregateUpstream === 'client') {
                      <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                    }
                    @if (signAggregateUpstream === 'clientport') {
                      <div class="partner-cover" [cdkContextMenuTriggerFor]="clientPortMenu" [cdkContextMenuTriggerData]="{$implicit: clientPortMap.get(rowSub.clientPort)}">
                        <carambola-ad-entity type="client" mode="tiny" [client]="clientMap.get(rowSub.client)"></carambola-ad-entity>
                        <carambola-ad-entity type="clientPort" mode="tiny" [clientPort]="clientPortMap.get(rowSub.clientPort)"></carambola-ad-entity>
                      </div>
                    }
                    @if (signAggregateUpstream === 'all') {
                      <button mat-button>全部</button>
                    }
                  }
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cost">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.cost !== null ? (rowSub.cost / 100000 | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="impression">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression !== null ? (rowSub.impression | number) : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="click">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.click !== null ? (rowSub.click | number) : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ctr">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression ? (rowSub.click / rowSub.impression | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cpm">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.impression ? (rowSub.cost / 100 / rowSub.impression | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="request">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.request !== null ? (rowSub.request | number) : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="response">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.response !== null ? (rowSub.response | number) : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="gfr">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.request ? (rowSub.response / rowSub.request | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
               <ng-container matColumnDef="er">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.response ? (rowSub.impression / rowSub.response | percent: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="rv">
                <mat-cell class="number" *matCellDef="let rowSub">
                  {{ rowSub.request ? (rowSub.cost / rowSub.request / 10 | number: '0.2-2') : '-' }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-cell class="placeholder actions" [ngStyle]="{'right': scrollRight + 'px'}" *matCellDef="let rowSub;">
                </mat-cell>
              </ng-container>

              <mat-row *matRowDef="let rowSub; columns: displayedColumns" class="sub-row" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" (mouseenter)="mouseenter(rowSub)" (mouseleave)="mouseleave()"></mat-row>
            </mat-table>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" class="element-row expandable" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" [class.expanded-row]="expandedRow === row" (mouseenter)="mouseenter(row)" (mouseleave)="mouseleave()"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}" [class.expanded-row]="(row === expandedRow) && !loading"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" [ngStyle]="{'min-width': displayedColumnsWidth + 'px'}"></mat-footer-row>
    </mat-table>
  </div>
</div>

<ng-template #clientPortMenu let-clientPort>
  <div class="port-menu" cdkMenu>
    <mat-card>
      <mat-card-content>
        <carambola-ad-entity type="clientPort" mode="brief" [clientPort]="clientPort"></carambola-ad-entity>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'connection')">
          <mat-icon>cable</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'property')">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'deeplink')">
          <mat-icon>conversion_path</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'tracker')">
          <mat-icon>graph_2</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'traffic')">
          <mat-icon>trending_up</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupClientPort(clientPort, 'finance')">
          <mat-icon>attach_money</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
<ng-template #vendorPortMenu let-vendorPort>
  <div class="port-menu" cdkMenu>
    <mat-card>
      <mat-card-content>
        <carambola-ad-entity type="vendorPort" mode="brief" [vendorPort]="vendorPort"></carambola-ad-entity>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'connection')">
          <mat-icon>cable</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'property')">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'deeplink')">
          <mat-icon>conversion_path</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'traffic')">
          <mat-icon>trending_up</mat-icon>
        </button>
        <button mat-icon-button cdkMenuItem (click)="popupVendorPort(vendorPort, 'finance')">
          <mat-icon>attach_money</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
