@use '../../../../shared/styles/management.scss';

.sign-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 1rem;
  gap: 1vw;
}
.input-percentage {
  text-align: right;
}

.form-button.sign-status {
  background-color: none;
  color: var(--mat-sys-on-primary);
}

.cdk-footer-row, .cdk-row {
  min-height: 44px;
  max-height: 44px;
}
.cdk-row.sign {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  font-weight: bold;
}
.cdk-row.sub-total {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font-weight: bold;
}

.partner {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 250px;
  min-width: 250px;
}
.partner carambola-ad-entity {
  width: 100%;
  font-size: 80%;
}
.number {
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 120px;
  min-width: 120px;
}

.dual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.original {
  text-decoration: line-through;
  font-size: 80%;
  font-weight: normal;
}
