<ng-container>
  <mat-card class="card-in-container">
    <mat-card-content>
      <mat-tab-group class="tab-in-card" [selectedIndex]="selectedIndex">
        <mat-tab label="上游广告位属性">
          <ng-template mat-tab-label>
            <mat-icon>description</mat-icon>上游广告位属性
          </ng-template>
          <form class="form-in-tab" [formGroup]="formGroup">
            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>广告主</mat-label>
              <carambola-filtered-select-client formControlName="client" required [multiple]="false" [options]="managedClients()" />
            </mat-form-field>
            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>上游媒体</mat-label>
              <carambola-filtered-select-clientmedia formControlName="clientMedia" required [multiple]="false" [options]="managedClientMedias()" />
            </mat-form-field>
            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>广告位名称</mat-label>
              <input placeholder="广告位名称" matInput formControlName="name" />
            </mat-form-field>
            <div class="full-width-input flex">
              <mat-button-toggle-group formControlName="format">
                <mat-button-toggle [value]="'banner'">横幅</mat-button-toggle>
                <mat-button-toggle [value]="'interstitial'">插屏</mat-button-toggle>
                <mat-button-toggle [value]="'splash'">开屏</mat-button-toggle>
                <mat-button-toggle [value]="'feeds'">信息流</mat-button-toggle>
                <mat-button-toggle [value]="'video'">视频</mat-button-toggle>
              </mat-button-toggle-group>
              <mat-button-toggle-group formControlName="budget">
                <mat-button-toggle [value]="'unknown'">未知</mat-button-toggle>
                <mat-button-toggle [value]="'k2'">k2</mat-button-toggle>
                <mat-button-toggle [value]="'tanx'">tanx</mat-button-toggle>
                <mat-button-toggle [value]="'jd'">京东</mat-button-toggle>
                <mat-button-toggle [value]="'qihang'">启航</mat-button-toggle>
                <mat-button-toggle [value]="'dahanghai'">大航海</mat-button-toggle>
                <mat-button-toggle [value]="'kuaishou'">快手</mat-button-toggle>
                <mat-button-toggle [value]="'pinduoduo'">拼多多</mat-button-toggle>
                <mat-button-toggle [value]="'huichuan'">汇川</mat-button-toggle>
                <mat-button-toggle [value]="'game'">游戏</mat-button-toggle>
                <mat-button-toggle [value]="'didi'">滴滴</mat-button-toggle>
                <mat-button-toggle [value]="'iqiyi'">爱奇艺</mat-button-toggle>
                <mat-button-toggle [value]="'baidu'">百度</mat-button-toggle>
                <mat-button-toggle [value]="'meituan'">美团</mat-button-toggle>
                <mat-button-toggle [value]="'juheshangcheng'">聚合电商</mat-button-toggle>
                <mat-button-toggle [value]="'mangguo'">芒果</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            @if (formClientId() > 0) {
              <div class="full-width-input wrapper">
                @for (key of formProtocolKey; track key) {
                  <mat-form-field class="half-width-input" subscriptSizing="dynamic">
                    <mat-label>{{ "协议关键字 - " + key }}</mat-label>
                    <input [placeholder]="key" matInput [formControlName]="key" />
                  </mat-form-field>
                }
              </div>
            }
            <div class="full-width-input flex">
              <mat-button-toggle-group formControlName="mode">
                @if (mode() === PartnerType.PARTNER_TYPE_DIRECT) {
                  <mat-button-toggle [value]="PortType.PORT_TYPE_DIRECT">直通模式</mat-button-toggle>
                }
                @if (mode() === PartnerType.PARTNER_TYPE_PROGRAMMATIC) {
                  <mat-button-toggle [value]="PortType.PORT_TYPE_SHARE">分成模式</mat-button-toggle>
                  <mat-button-toggle [value]="PortType.PORT_TYPE_BIDDING">竞价模式</mat-button-toggle>
                }
              </mat-button-toggle-group>
            </div>
            @if (mode() === PartnerType.PARTNER_TYPE_PROGRAMMATIC) {
              <div class="full-width-input wrapper">
                <mat-form-field class="half-width-input" subscriptSizing="dynamic">
                  <mat-label>应用名</mat-label>
                  <input placeholder="应用名" matInput formControlName="appname" />
                </mat-form-field>
                <mat-form-field class="half-width-input" subscriptSizing="dynamic">
                  <mat-label>包名</mat-label>
                  <input placeholder="包名" matInput formControlName="apppackage" />
                </mat-form-field>
              </div>
              <div class="full-width-input flex">
                <mat-checkbox formControlName="filter">启用字段过滤</mat-checkbox>
                @if (formGroup.value.filter) {
                  <mat-button-toggle-group #queryTypeToggleGroup="matButtonToggleGroup" [value]="queryType" (change)="changeFilterType($event)">
                    <mat-button-toggle [value]="'simple'">精简版（支持必需字段）</mat-button-toggle>
                    <mat-button-toggle [value]="'advanced'">高级版（支持条件组合）</mat-button-toggle>
                    <mat-button-toggle [value]="'predefined1'">阿里安卓</mat-button-toggle>
                    <mat-button-toggle [value]="'predefined2'">阿里iOS</mat-button-toggle>
                    <mat-button-toggle [value]="'predefined3'">汇川安卓</mat-button-toggle>
                    <mat-button-toggle [value]="'predefined4'">汇川iOS</mat-button-toggle>
                  </mat-button-toggle-group>
                }
              </div>
              @if (formGroup.value.filter && queryType === 'simple') {
                <mat-form-field class="full-width-input" subscriptSizing="dynamic">
                  <mat-label>必填字段</mat-label>
                  <mat-chip-grid #chipGridFilter>
                    @for (field of selectedFilters; track field[0]) {
                      <mat-chip-row [value]="field" (removed)="remove(field, ctrlFilter, selectedFilters)">
                        {{ field[1].name }}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    }
                  </mat-chip-grid>
                  <input placeholder="增加字段" #inputFilter matInput [formControl]="ctrlFilter"
                    [matChipInputFor]="chipGridFilter" [matAutocomplete]="autoFilter"/>
                  <mat-autocomplete #autoFilter="matAutocomplete" (optionSelected)="select($event, inputFilter, ctrlFilter, selectedFilters)">
                    @for (field of filteredFields | async; track field[0]) {
                      <mat-option [value]="field">
                        {{ field[1].name }}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              }
              @if (formGroup.value.filter && queryType === 'advanced') {
                <div class="full-width-input wrapper">
                  <query-builder [(ngModel)]="query" [ngModelOptions]="{standalone: true}" [config]="config" [emptyMessage]="'规则组至少要有一条规则，请增加一条规则，或彻底删除这个规则组'">
                    <ng-container *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
                      <button class="form-button rule-action" mat-stroked-button (click)="addRule()">增加一条规则</button>
                      @if (addRuleSet) {
                        <button class="form-button rule-action" mat-stroked-button (click)="addRuleSet()">增加一组规则</button>
                      }
                      @if (removeRuleSet) {
                        <button class="form-button rule-action" mat-stroked-button (click)="removeRuleSet()">删除一组规则</button>
                      }
                    </ng-container>
                    <ng-container *queryArrowIcon>
                      <mat-icon ngClass="mat-arrow-icon">chevron_right</mat-icon>
                    </ng-container>
                    <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
                      <button type="button" mat-icon-button (click)="removeRule(rule)">
                        <mat-icon>remove</mat-icon>
                      </button>
                    </ng-container>
                    <ng-container *querySwitchGroup="let ruleset; let onChange=onChange">
                      @if (ruleset) {
                        <mat-radio-group [(ngModel)]="ruleset.condition" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
                          <mat-radio-button [style.padding.px]="10" value="and">以下条件均需要满足</mat-radio-button>
                          <mat-radio-button [style.padding.px]="10" value="or">以下条件至少满足其中一项</mat-radio-button>
                        </mat-radio-group>
                      }
                    </ng-container>
                    <ng-container *queryEntity="let rule; let entities=entities; let onChange=onChange">
                      <mat-form-field subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="rule.entity" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event, rule)">
                          @for (entity of entities; track entity.value) {
                            <mat-option [value]="entity.value">
                              {{ entity.name }}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryField="let rule; let fields=fields; let onChange=onChange; let getFields = getFields">
                      <mat-form-field [style.width.px]="300" subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="rule.field" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event, rule)">
                          @for (field of getFields(rule.entity); track field.value) {
                            <mat-option [value]="field.value">
                              {{ field.name }}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryOperator="let rule; let operators=operators; let onChange=onChange">
                      @if (operators.length > 1) {
                        <mat-form-field [style.width.px]="180" subscriptSizing="dynamic">
                          <mat-select [(ngModel)]="rule.operator" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange(rule)">
                            @for (value of operators; track value) {
                              <mat-option [value]="value">
                                {{ getOperator(value) }}
                              </mat-option>
                            }
                          </mat-select>
                        </mat-form-field>
                      }
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'boolean'; let onChange=onChange">
                      <mat-form-field [style.width.px]="180" subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                          <mat-option [value]="true">true</mat-option>
                          <mat-option [value]="false">false</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                          @for (opt of options; track opt.value) {
                            <mat-option [value]="opt.value">
                              {{ opt.name }}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; type: 'date'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let options=options; type: 'multiselect'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" multiple (ngModelChange)="onChange()">
                          @for (opt of options; track opt.value) {
                            <mat-option [value]="opt.value">
                              {{ opt.name }}
                            </mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'number'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <input matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" type="number" (ngModelChange)="onChange()">
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'string'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <input matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                      </mat-form-field>
                    </ng-container>
                    <ng-container *queryInput="let rule; let field=field; type: 'textarea'; let onChange=onChange">
                      <mat-form-field [style.width.px]="400" subscriptSizing="dynamic">
                        <textarea matInput [(ngModel)]="rule.value" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
                        </textarea>
                      </mat-form-field>
                    </ng-container>
                  </query-builder>
                </div>
              }
              @if (formGroup.value.filter && queryType.startsWith('predefined')) {
                <mat-form-field class="full-width-input" subscriptSizing="dynamic">
                  <mat-label>预定义字段</mat-label>
                  <mat-chip-grid #chipGridFilter>
                    @for (field of selectedFilters; track field[0]) {
                      <mat-chip-row [value]="field">
                        {{ field[1].name }}
                      </mat-chip-row>
                    }
                  </mat-chip-grid>
                  <input hidden #inputFilter matInput [matChipInputFor]="chipGridFilter"/>
                </mat-form-field>
              }
              <div class="full-width-input flex">
                <div class="rule-wrapper">
                  <div class="rule-list">
                    @if (getValidTrafficControls().length === 0) {
                      <div>无流量控制</div>
                    } @else {
                      @for (trafficControl of getValidTrafficControls(); track trafficControl) {
                        <div class="full-width-input flex">
                          <carambola-traffic-control [trafficControl]="trafficControl" />
                          <button class="form-button" mat-icon-button (click)="removeTrafficControl(trafficControl)"><mat-icon>delete</mat-icon></button>
                        </div>
                      }
                    }
                  </div>
                  <button class="form-button rule-add" mat-stroked-button (click)="addTrafficControl()"><mat-icon>add</mat-icon>增加一条流量控制规则</button>
                </div>
              </div>
              <div class="full-width-input flex">
                <div class="rule-wrapper">
                  <div class="rule-list">
                    @if (getValidAntiFrauds().length === 0) {
                      <div>无反作弊控制</div>
                    } @else {
                      @for (antiFraud of getValidAntiFrauds(); track antiFraud) {
                        <div class="full-width-input flex">
                          <carambola-anti-fraud [antiFraud]="antiFraud" />
                          <button class="form-button" mat-icon-button (click)="removeAntiFraud(antiFraud)"><mat-icon>delete</mat-icon></button>
                        </div>
                      }
                    }
                  </div>
                  <button class="form-button rule-add" mat-stroked-button (click)="addAntiFraud()"><mat-icon>add</mat-icon>增加一条反作弊控制规则</button>
                </div>
              </div>
            }
            <mat-form-field class="full-width-input" subscriptSizing="dynamic">
              <mat-label>备注</mat-label>
              <textarea matInput placeholder="备注" formControlName="remark"></textarea>
            </mat-form-field>

            <div class="full-width-input flex">
              @if (clientPort() === null) {
                <button type="button" class="form-button" mat-stroked-button (click)="addClientPort()">创建</button>
                <button type="button" class="form-button cancel" mat-stroked-button (click)="cancelClientPort()">取消</button>
              }
              @if (clientPort() !== null) {
                @if (!readonly) {
                  <button type="button" class="form-button" mat-stroked-button (click)="updateClientPort()">修改</button>
                }
                <button type="button" class="form-button cancel" mat-stroked-button (click)="cancelClientPort()">取消</button>
                @if (!readonly) {
                  <button type="button" class="form-button delete" mat-stroked-button (click)="removeClientPort()">删除</button>
                }
              }
            </div>
          </form>
        </mat-tab>
        @if (isConnectionObserver && clientPort() !== null) {
          <mat-tab label="流量对接">
            <ng-template mat-tab-label>
              <mat-icon>cable</mat-icon>流量对接
            </ng-template>
            <div class="connection-list">
              @for (connection of connections; track connection.id) {
                <carambola-connection [clientPort]="connection.clientPort" [vendorPort]="connection.vendorPort" [mode]="'client'" [readonly]="!isConnectionManager" (connectionChanged)="connectionChanged()"></carambola-connection>
              }
              @if (isConnectionManager) {
                <carambola-connection [clientPort]="clientPortFull" [mode]="'add'" (connectionChanged)="connectionChanged()"></carambola-connection>
              }
              @if (!isConnectionManager && connections.length === 0) {
                <carambola-connection [mode]="'empty'"></carambola-connection>
              }
            </div>
          </mat-tab>
        }
        @if (isConnectionObserver && clientPort() !== null) {
          <mat-tab label="后链路分析">
            <ng-template mat-tab-label>
              <mat-icon>conversion_path</mat-icon>Deeplink分析
            </ng-template>
            <ng-template matTabContent>
              <carambola-chart-postlink [clientPort]="clientPort()" />
            </ng-template>
          </mat-tab>
        }
        @if (isConnectionManager && clientPort() !== null) {
          <mat-tab label="上游分析">
            <ng-template mat-tab-label>
              <mat-icon>graph_2</mat-icon>上游分析
            </ng-template>
            <div class="tracker-list">
              @if (trackers.length === 0) {
                <mat-card class="tracker">
                  没有上游分析数据
                </mat-card>
              } @else {
                @for (tracker of trackers; track tracker) {
                  <mat-card class="tracker">
                    {{ tracker }}
                  </mat-card>
                }
              }
            </div>
          </mat-tab>
        }
        @if (isConnectionObserver && clientPort() !== null) {
          <mat-tab label="流量分析">
            <ng-template mat-tab-label>
              <mat-icon>trending_up</mat-icon>流量分析
            </ng-template>
            <ng-template matTabContent>
              <carambola-chart-traffic [clientPort]="clientPort()" />
            </ng-template>
          </mat-tab>
        }
        @if (isConnectionObserver && clientPort() !== null) {
          <mat-tab label="费用分析">
            <ng-template mat-tab-label>
              <mat-icon>attach_money</mat-icon>费用分析
            </ng-template>
            <ng-template matTabContent>
              <carambola-chart-finance [clientPort]="clientPort()" />
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</ng-container>
