@use '../../../../shared/styles/management.scss';

.rule-action {
  margin-left: 1rem;
}
.rule-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.rule-list {
  display: flex;
  flex-direction: column;
}
.rule-add {
  position: relative;
  right: 0;
  top: 0;
}

::ng-deep.q-rule {
  background-color: var(--mat-sys-surface-variant) !important;
  color: var(--mat-sys-on-surface-variant) !important;
}

.connection-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 352px);
  margin: 0 16px;
}

.tracker-list {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 352px);
  margin: 0 16px;
}
.tracker {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  width: 320px;
  height: 160px;
}
